/* .calc {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
};
.calc-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 90px;
    text-align: center;
} */
 body{
    font: Orbitron;
    color: #17D4FE;
    background: black;
 }
 button {
    background-color: #17D4FE;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font: Orbitron;
    border-radius: 30px;
  }

#type-bar{
display: flex;
justify-content: center;
align-items: center;
color: #17D4FE;
font-size: 30px;
font-family: Orbitron;
margin: 5%;
border-color: black;
border-radius: 5px;
}
.calc{
    display: grid;
    gap: 50px 50px;
    grid-template-columns: auto,auto,auto,auto;
    }
