body {
    background: rgb(0, 0, 0);
    color: #17D4FE;
    height:100%;
    font: Orbitron; 
} 
#time{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    }


.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type:none;
    background-color: #17D4FE;
}
li {
    list-style-type:none;
    padding: 5px;
}
a {
  display: block;
  padding: 8px;
  text-decoration: none;
  text-align:center;
  color:rgb(0, 0, 0);
  font-size: 20px;
}

.active {
    color:#17D4FE;
    background-color:#000000;
 }
 div{
    display: flex;
    flex-direction: column;
 }

