.myContainer {
    width :75%;
    overflow: auto;
   height: 50%;
   margin: auto;
}
.myContainer div {
    width : 33%;
    float: left;
    height :50%;
    text-align: center;
}
body {
    background-color: rgb(0, 0, 0);
}
.type-bafr{
    width: 75%;
    /* top: 50%;
    left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    color: #17D4FE;
    font-size: 13px;
    text-align: center;
    font-family: Orbitron;
    letter-spacing: 1px;
    margin: auto;
    border-color: #17D4FE;
    border-radius: 5px;
    }
.text-bar {
    width :75%;
    color: #17D4FE;
    overflow: auto;
    height: 25%;
    margin: auto;
}
.text-bar div {
    width : 33%;
    float: left;
    height :50%;
    text-align: center;
}
.result-box {
    border: none;
    color: rgb(0, 0, 0);
  /* padding: 15px 32px; */
     text-align: center;
    text-decoration: none;
    display: inline-block;
  /* font-size: 16px; */
    margin: 4px 2px;
    cursor: pointer;
    left: 50%;
}
h1 {
    /* font-size:#; */
}
.button {
    /* width:100%;
    margin: auto;
    align-self: center;
    background-color: #17D4FE;*/
    color: black;
    border: none;
  /*color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; */
}
.color-box {
    /* border: none; */
    /* color: white; */
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    cursor: pointer;
    /* center the text in between the did */
}
