body {
    background: rgb(0, 0, 0);
    color: #17D4FE;
    height:100%
}

.nav {
    color: rgb(0, 0, 0);
    background-color: #17D4FE;
    font : Orbitron;
    font-size: 20px;
}

.nav li {
    display: inline-block;
    font-size: 20px;
}

.nav li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  text-align:center;
  color:rgb(0, 0, 0)
}

.active {
    color:#17D4FE;
    background-color:#000000;
 }

 #grid-container {
    display: grid;
    grid-template-columns: 100%;
    font-size: 40px;
 }

 button {
    background-color: #17D4FE;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }

  input {
    color: #17D4FE;
    background: scroll;
    font: Orbitron;
    font-size: 30px;
    border: none;
    border-bottom: 10px #17D4FE;
    width: 40px;
}
.stopwatch {
    position:absolute;
    /*top: 50%;
    left: 50%;
     transform: translateX(-50%) translateY(-50%); */
    color: #17D4FE;
    font-size: 100px;
    font-family: Orbitron;
}

/* nav{
    width: 100%;
    height: fit-content;
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;

}
a{
    position:relative;
    color:#17D4FE;
    text-decoration: none;
}

body {
    background: rgb(0, 0, 0);
    color: #17D4FE;
    height:100%


}
textarea {
    height: 150px;
}



.inputs {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size:large;
    font-family: Orbitron;
    letter-spacing: 7px;
   
}
button{
    background-color: #000000;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size:large;
    font-family: Orbitron;
    letter-spacing: 7px; 
} */