body {
    background: rgb(0, 0, 0);
    color: #17D4FE;
    height:100%
}

.nav {
    color: rgb(0, 0, 0);
    background-color: #17D4FE;
    font : Orbitron;
    font-size: 20px;
}

.nav li {
    display: inline-block;
    font-size: 20px;
}

.nav li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  text-align:center;
  color:rgb(0, 0, 0)
}

 #grid-container {
    display: grid;
    grid-template-columns: 100%;
    font-size: 40px;
 }

 button {
    background-color: #17D4FE;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10%;
  }

  input {
    color: #17D4FE;
    background: scroll;
    font: Orbitron;
    font-size: 30px;
    border: none;
    border-bottom: 10px #17D4FE;
    width: 40px;
}
/* .container {
    position:relative;
}*/
.stopwatchcontainer{
   /* margin: auto;
    width:50%;
    padding: 10px; */
    height: 200px;
    position: relative;
    border: 3px solid green;
}
/*.stopwatch {
     position:relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%); 
    color: #17D4FE;
    font-size: 100px;
    font-family: Orbitron;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
} */
 p {
    font: Orbitron;
    font-size: 70px;
    align-self: center; 
 }
.stopwatchcontainer p {
   
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate (-50%, -50%);
}
