body {
    background: rgb(0, 0, 0);
    color: #17D4FE;
    height:100%
}
.clock {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   
} 


.nav {
    color: rgb(0, 0, 0);
    background-color: #17D4FE;
    font : Orbitron;
    font-size: 20px;
}

.nav li {
    display: inline-block;
    font-size: 20px;
}

.nav li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  text-align:center;
  color:rgb(0, 0, 0)
}

.active {
    color:#17D4FE;
    background-color:#000000;
 }

